 .navbar {
   
   border-color: gold;
 }
 .navbar .collapse ul li a{
   font-size: x-large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-weight: lighter;
  }
  .navbar .navbar-toggler  {
    background-color: rgb(230, 175, 25);
    border-color: gold;
  } 
  .navbar-nav > li{
    padding-left:28px;
     
  }
.middle{
  background-image: url(welcomePic.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  background-size: 100vw;
  width: 100vw;
  height: 40vw;
}

.bottom{
  background-position: bottom;
} 
