
/* making the white background of the navigation bar*/
.topnav {
    background-color: white;
    overflow: hidden;
    
}
/*style the links to to pages within nav bar */
.topnav a{
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    float: right;
    color: #E8AC36;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size: 1.5vw; 
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.topnav a:hover{
    color: #74A5BC
}
.middle{
    background-image: url(welcomePic.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-size: 100vw;
    width: 100vw;
    height: 40vw;
}

 .bottom{
    background: linear-gradient(90deg, #b6edff 50%, #74a5bc 50%);
    width: 100vw;
    height: 100vw;
    text-align: right;
    font-size: 2.5vw; 
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: white;
 }

 p.padding {
    padding-top: 5vw;
    padding-right: 10vw;
    
  }
